<%= form_for product, html: { multipart: true }  do |f| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <% url_empty_error_message = product.errors.select{|k,v| k == :url }.join(" ").titleize %>
      <% if url_empty_error_message.present? %>
        <%= url_empty_error_message %>
      <% else %>
        The provided url doesn't look like a valid SastoDetal product URL. Please re-enter!
      <% end %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :url %>
    <%= f.text_field :url, size: 100 %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
