<p id="notice"><%= notice %></p>

<h1>Products</h1>

<%= link_to 'New Product', new_product_path, {class: "btn btn-default"}  %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Url</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr style="min-height: 60px">
        <td><%= product.name %></td>
        <td><%= product.url %></td>
        <td><%=image_tag product.image_url || "", size:60 %></td>
        <td><%= link_to 'Price history', product %></td>
        <td><%= link_to 'Delete', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

