
<div class="row" style="background-color: rgba(204, 209, 210, 0.23); padding: 20px ">
  <div class="col-sm-6">
    <p>
      <strong>Product Name:</strong>
      <h1>
        <%= @product.name %>
      </h1>
    </p>
    <hr>
    <p>
      <strong>Product Url:</strong>
      <h4>
        <%= @product.url %>
      </h4>
    </p>
  </div>
  <div class="col-sm-6">
    <p>
      <strong>Image url:</strong>
      <%= @product.image_url %>
    </p>
    <%= image_tag @product.image_url, size: 200, class: 'pull-right product-image' %>
  </div>
</div>

<hr>

<%= form_for @product, method: 'patch', html: { multipart: true }  do |f| %>
  <h4>Notification</h4>

  <div class="field">
    Notify me by email when the price drops to
    <%= f.number_field :notification_threshold, { min: 0, style: "width: 80px"} %>
  </div>

  <div class="row">
  </div>

  <div class="actions">
    <% save_or_update = @product.notification_threshold.present? ? "Update" : "Save" %>
    <%= f.submit save_or_update %>
  </div>
<% end %>

<hr>

<%= render "price_history_chart"  %>

<%= link_to 'Back', products_path, class: "btn btn-default" %>
