
<div class="row" style="background-color: rgba(204, 209, 210, 0.23); padding: 20px ">
  <div class="col-sm-6">
    <p>
      <strong>Product Name:</strong>
      <h1>
        <%= @product.name %>
      </h1>
    </p>
    <hr>
    <p>
      <strong>Product Url:</strong>
      <h4>
        <%= @product.url %>
      </h4>
    </p>
  </div>
  <div class="col-sm-6">
    <p>
      <strong>Image url:</strong>
      <%= @product.image_url %>
    </p>
    <%= image_tag @product.image_url, size: 200, class: 'pull-right product-image' %>
  </div>
</div>

<hr>

<%= render "price_history_chart"  %>

<%= link_to 'Back', products_path %>
