<!DOCTYPE html>
<html>

<head>
  <title>Nepalicamel</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>
</head>

<body>
<% flash.each do |name, msg| %>
  <%= content_tag(:div, msg, class: "alert alert-info") %>
<% end %>

<%= render 'layouts/header' %>
<div class="container" style="min-height: 600px">
  <%= yield %>
</div>
<%= render 'layouts/footer' %>
</body>

</html>
